/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
	list-style-type: none;
}

.instructions-text {
	width: 600px;
}

#chart {
  border: 3px solid grey;
  width: 600px;
  height: 600px;
  margin-left: 140px;
}

.circle {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.hidden-info {
	display: none;
}

.horizontal-list li {
    display:inline;
}

.x-axis-name {
	margin-left: 160px;
}

.x-axis-metric1 {
	margin-left: 100px;
}

.x-axis-metric2 {
	margin-left: 170px;
}

.y-axis-desc {
	margin-top: 30px;
	position: absolute;
}

.y-axis-name {
	margin-top: 250px;
}

.y-axis-metric1 {
	margin-top: -20px;
}

.y-axis-metric2 {
	margin-top: 270px;
}